---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
const pageTitle = "Web Development and Technology Blog | Yassine Samlali";
const description = "Welcome to my blog, where I share insights about frontend development, teaching, and modern web technologies.";
const ogimage ={
    url: "/images/blogimage.png",
    alt: "Web Development and Technology Blog cover image for Yassine Samlali."
};
---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <Hero />
    <Tags />
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

</Layout>
